################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lap05/Day05Lap_Model/.vs
/Lap06/day06Annotation/.vs
