################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lap05/Day05Lap_Model/.vs
/Lap06/day06Annotation/.vs
/Lap07/12_10/Lap12_10DataAccess/.vs
/Lap07/12_10/CodeFirst/.vs
/17_10/NTTDay09CodeFirst/.vs/NTTDay09CodeFirst
/17_10/NTTDay09CodeFirst/.vs/ProjectEvaluation
/backend/Auth/.vs
/TH0711/Lap02/Lap02/.vs
/TH0711/Lap03/.vs
/TH0711/Lap04/.vs/Lap04
/TH0711/Lab06/Lab06/.vs/Lab6
