################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lap05/Day05Lap_Model/.vs
/Lap06/day06Annotation/.vs
/Lap07/12_10/Lap12_10DataAccess/.vs
/Lap07/12_10/CodeFirst/.vs
