@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ModelLss.Models.User>
@{
    ViewData["Title"] = "User Index";
}
<h1>User Index</h1>

